//變數

$color-primary: #ff9595;
$color-primary-light: #ffcece;
$color-primary-dark: #d73131;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

//font
$default-font-size: 1.6rem;

//GRID
$grid-width: 114rem;
$gutter-vertial: 8rem;
$gutter-vertial-small: 6rem;
$gutter-horizontal: 6rem;

$pic-header: "../img/Header_pic.jpg";
$pic-hanli-building: "../img/hanli_w.jpg";
$pic-hanli-inside: "../img/hanli_In.jpg";
//gallery
$totalpanel: "8";
$panel-1: "../img/Ga1.jpg";
$panel-2: "../img/Ga2.jpg";
$panel-3: "../img/Ga3.jpg";
$panel-4: "../img/Ga4.jpg";
$panel-5: "../img/Ga5.jpg";
$panel-6: "../img/Ga6.jpg";
$panel-7: "../img/Ga7.jpg";
$panel-8: "../img/Ga8.jpg";
