.gallery {
  padding: 10rem 0;
  margin-bottom: 10rem;
  width: 100%;
  height: 500px;
}
.gallery__container {
  display: flex;
  width: 90vw;
}
.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);

  &-1 {
    background-image: url($panel-1);
    background-position: center top;
    @include respond(phone) {
      background-position: 60% center;
    }
  }
  &-2 {
    background-image: url($panel-2);
    background-position: center 30%;
    @include respond(phone) {
      background-position: left center;
    }
  }
  &-3 {
    background-image: url($panel-3);
    background-position: center top;
    @include respond(phone) {
      background-position: 55% center;
    }
  }
  &-4 {
    background-image: url($panel-4);
    background-position: center 70%;
    @include respond(phone) {
      background-position: 70% center;
    }
  }
  &-5 {
    background-image: url($panel-5);
    background-position: center top;
    @include respond(phone) {
      background-position: 45% center;
    }
  }
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .gallery__container {
    width: 100vw;
  }

  // .panel:nth-of-type(4).panel:nth-of-type(5) {
  //   display: none;
  // }
}
